<Files config.xml>
deny from all
</Files>
<Files change_conf.py>
deny from all
</Files>

DefaultType .php
#AddType application/x-httpd-php .php .phtml
DirectoryIndex index.php

Options +FollowSymlinks
RewriteBase /usec-vitrine
RewriteEngine on
RewriteRule ^admin$ admin.php [NC,L]
RewriteRule ^([^\.]*).html$ page.php?p=$1 [NC,L]
